@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#eef4ff;

padding:40px;

}

.container{

max-width:700px;

margin:auto;

}

h1{

text-align:center;

color:#1e3a8a;

}

.subtitle{

text-align:center;

margin-bottom:30px;

color:#6b7280;

}

.card{

background:white;

padding:25px;

margin-bottom:20px;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,.1);

}

.card h2{

color:#1e3a8a;

margin-bottom:20px;

}

.buttons{

display:flex;

gap:15px;

}

button{

flex:1;

padding:15px;

border:none;

border-radius:10px;

background:#2563eb;

color:white;

font-size:16px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1d4ed8;

}

#autoSection{

display:none;

}

#manualSection{

display:none;

}

#status{

font-size:18px;

font-weight:bold;

color:#1e293b;

}
#autoSection{
    display:none;
}

#manualSection{
    display:none;
}
#semiSection{

display:none;

}